* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

header {
    background-color: rgb(211, 82, 82);
    position: sticky;
    top: 0;
    padding: 20px;
}

.Nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    margin-right: 40px;
}

.Nav-link {
    font-size: 22px;
    color: aqua;
    text-decoration: none;
    cursor: pointer;
}

.Dev {
    color: rgb(29, 28, 27);
    background-color:rgb(135, 120, 120) ;
    height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.Dev-text {
    text-align: center;
}

.Dev-text h1 {
    font-size: 50px;
}

.Dev-text p {
    color: rgb(239, 193, 64);
    font-size: 25px;
    letter-spacing: 2px;
    font-style: oblique;
    font-weight: 200;
    margin-top: 15px;
}

.Project {
    background-color: rgb(63, 87, 98);
    padding: 40px 0;
}

.Project-h2 {
    color: antiquewhite;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 28px;

}

.Project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
}
img {
    width: 100%;
}

.image {
    object-fit: cover;
    height: 300px;
}

.Project-item {
    flex: 40%;
}

.Project-title {
    color: beige;
    background-color: rgb(117, 117, 113);
    padding: 20px 10px;
    text-align: center;
    margin-top: -6px;
    cursor: pointer;
    font-size: 19px;
}

.Code {
    color: #23609c;
    transition: color 0.2s ease-out;
}

.Contact {
    color:whitesmoke;
    background-color: #3b5167;
    padding: 25vh 0;
}

.Contact-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;

}

.Contact-section-header h2{
    text-align: center;
    font-size: 35px;
    font-weight: 300;
}

.Contact-section-header p{
    text-align: center;
    font-size: 19px;
    font-weight: 350;
    font-style: italic;
    margin-top: 14px;

}

.Contact-links a {
    color: antiquewhite;
    text-decoration: none;
    margin-left: 20px;
    font-size: 25px;
}

footer {
    color: antiquewhite;
    background-color: #3b5167;
    font-size: 15px;
    border-top: 2.5px solid maroon;
    padding: 20px 0;
}

.footer-text {
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-text a {
    color: aliceblue;
    text-decoration: none;
}

.All {
    background-color: #e993b4;
}
